* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.layout {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 250px;
  width: 250px;
}
